html{
    font-family: "Open Sans",sans-serif;
    width: 100%;
}

body{
    background-image: url("http://www.firat.edu.tr/front/images/firat_uni_logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: whitesmoke;

} 

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    text-decoration: none; 
    list-style-type: none;
    color: white;
 
}

a{
    text-decoration: none;
    
}
/* MENÜ */

.header{
    width:100%;
    height:80px;
   background-color: #252020;
    border-radius:8px;
    display:flex;     flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    -webkit-box-shadow: -1px 7px 5px 0px rgba(63, 61, 61, 0.75);
    -moz-box-shadow: -1px 7px 5px 0px rgba(68, 67, 67, 0.75);
    box-shadow: -1px 7px 5px 0px rgba(51, 51, 51, 0.75);
    color: white;
}
.logo{
    height: 75px;
    transition: 0.3s;
}
.nav{
    width:65%;
    height:100%;
}
.main-list{
    height:100%;
    width:100%;
    align-items:center;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.primary-list{
    display: none;
    position:absolute;
    background:#000;
    color: #fff;
    width:185px;
    height:165px;
    left:50%;
    top:20px;
    border-radius:8px;
}
.list-item{
    cursor:pointer;/*  imlecimizin mevcut öğenin üzerine getirdiğimizde alacağı formatı, 
şekli belirtiyoruz.*/
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
}
.li a{
    padding:8px;
    margin:4px;
}
.list-item a:hover{
    border-bottom:1px solid white;
}
li:hover .primary-list{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.search{
    outline:none;
    border:1px solid white;
    border-radius:8px;
    height:28px;
    width:152px;
    background:transparent;
    padding:4px;
}

/* SLİDER */
#slider{position:relative;margin:0 auto;width:1900px ;height:725px;overflow:hidden;}
#slider img{width:1900px;height:725px;}
#slider li{list-style:none;}
.sliderbutton{position:relative;margin:0 auto;width:120px;margin-top:-25px;}
.sliderbutton li{list-style: none;padding:5px;background:#dc2c1d;float:left;margin-right:10px;border-radius:10px;}
.sliderleft{cursor:pointer;background:rgba(0,0,0,0.2);position:absolute;width:50px;height:725px;line-height:725px;}
.sliderright{margin-left:1850px;cursor:pointer;background:rgba(0,0,0,0.2);position:absolute;width:50px;height:725px;line-height:725px;}

/* HIZLI ERİŞİMLER */
#hızlıerişimler{
    background-color: #fff;
    margin-bottom: 50px;
}
#hızlıerişimler .ikons{
    display: flex;
    justify-content: center;
    list-style-type:none; 
}

#hızlıerişimler .ikons li a{
    display: block;
    padding:12px 14px;
}

#hızlıerişimler .ikons img{

    height: 55px;
    width: 100px;
}

#hızlıerişimler .ikons p{
    text-align: center;
    color: #a09391;
}

#hızlıerişimler .ikons :hover{
   box-shadow: none;
   -webkit-box-shadow: 1px 1px 10px #dc2c1d;
}   


/* HABERLER 

#haber{

  margin-left: 100px;
    display: flex;
    background-image: "./img/arkaplan";
    width: 800px;
    background-color: white;

}

#haber .img {
    margin: 20px;
    border: 1px solid #ccc;
    width: 250px;
    height: 300px;
}

#haber .img:hover {
    border: 1px solid #dc2c1d;
}

#haber img {    
    width: 100%;
    
}

#haber .desc {
    color: #a09391;
    padding: 15px;
    text-align: center;
}
*/

/* DUYURULAR */
#duyurular{
    margin-left: 250px;
    background-color: #fff;
    width: 475px;
    border: 15px;
    margin-bottom: 20px;

    
}
#duyurular ul{
    list-style-type: none;

    margin: 10px;
    padding: 10px;

    overflow: hidden;
}
#duyurular li{
    align-items: left;
}
#duyurular li a{
    display: block;
    margin: 10px 10px;
    color: #a09391;
}
#duyurular :hover{
    box-shadow: none;
    -webkit-box-shadow: 1px 1px 10px #dc2c1d;    
}


.page{
    display: flex;
}


.düzen3{
margin-right: 1400px;
    margin-left: 250px;
    margin-top: 50px;

    background-color: #dc2c1d;
    text-align: center; 
    
}



/*
#etkinlikler{
    margin-left: 250px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
    background-image: url(./arkaPlan.PNG);
    justify-content: space-around;
}

#etkinlikler .dondurulecekler {
    perspective: 1000;
   
 
}
 
#etkinlikler .dondurulecekler:hover .tetikleyici, .dondurulecekler.hover .tetikleyici {
    transform: rotateY(180deg);
}

#etkinlikler .dondurulecekler, .onyuz{
    width:250px;
    height: 300px;

    margin-top: 18px;
    margin-bottom: 45px;

   
}
 
#etkinlikler .onyuz {
    z-index: 2;
    transform: rotateY(0deg);
}

#etkinlikler .arkayuz {
    background-color:#dc2c1d ;
    border-radius:100%;
    text-align:center;
    color:white;
    width: 300px;
    height: 300px;
    padding:50px;
    box-shadow:inset 0px 0px 0px 5px #dc2c1d;
    transform: rotateY(180deg);
}

#etkinlikler .tetikleyici {
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
}
 
#etkinlikler .onyuz, .arkayuz {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#etkinlikler .arkayuz h1{
    margin:50px 0;
    font-size:20px;
    color:white;
    font-weight:700;
}
 
#etkinlikler .arkayuz hr{
    border:1px solid #81342e;
    margin:15px 0;
}
 
#etkinlikler .arkayuz p{
    font-size:16px;
    color:white;
    
}*/

/* GALERİ */
#galeri{
    margin-left: 100px;
    margin-bottom:100PX;
    margin-top: 100px;
    background-color: #fff;
}
.yazı h3{
color: black;
text-align: center;
}
#galeri .aw-zoom
{
    position: relative;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
}

#galeri .aw-zoom:hover
{
    box-shadow: none;
    -webkit-box-shadow: 3px 4px 10px #000000;
    z-index:2;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}

/* FOOTER*/

#footer{
    background-color: #252424;
    margin-top: 100px;
}
#footer :hover{
    box-shadow: none;
    -webkit-box-shadow: 1px 1px 10px #dc2c1d;
}

#footer img{
    margin-top: 50px;
    margin-left: 100px;
    
}

#footer h3{
    color: #fff;
    padding: 10px;
}

#footer .footerLink{
    color: #fff;
    opacity: 70%;
}

#footer a{
    color: #fff;
}

#footer ul {
    list-style-type: none;

    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;

    overflow: hidden;
}

#footer 
li {
    align-items: left;
}

#footer li a{
    display: block;
    margin: 10px 10px;

}

#footer .ikon li a {
    display: block;
    padding:12px 14px;
} 

#footer .fab{
    color: #a09391;
}

#footer .gizlilik{
    display: flex;
    justify-content: center;
    opacity: 50%;
    color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
    background-color: #252424;
  height:50%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 100%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #dc2c1d, 0 0 0 0 #fff;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -25%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -50%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -75%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;

  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}

.slider__txt {
    margin-top: 10PX;
  color: #fff;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px #dc2c1d;
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 #fff;
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px #dc2c1d;
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 #fff;
  }
}